
<div style="height:38px"></div>
<div class="w3-bottom" style="width: calc(100% - 150px);">
  <div class="w3-bar w3-dark-gray flex-box">
    <div id="btnRegister" class="w3-button">Register</div>
    <div id="btnNew" class="w3-button">New</div>
    <div id="btnCopy"  class="w3-button">Copy</div>
    <div id="btnDelete" class="w3-button">Delete</div>
    <div id="btnSortUp" class="w3-button">Up</div>
    <div id="btnSortDown" class="w3-button">Down</div>
    <!-- <a href="#home" style="width:25%" class="w3-bar-item w3-button">Home</a> -->
    <!-- <a href="#us" style="width:25%" class="w3-bar-item w3-button">Jane & John</a> -->
    <!-- <a href="#wedding" style="width:25%" class="w3-bar-item w3-button">Wedding</a> -->
    <!-- <a href="#rsvp" style="width:25%" class="w3-bar-item w3-button w3-hover-black">RSVP</a> -->
  </div>
</div>
