
<div style="height:40px"></div>
<div id="vue-bottom" class="vue-component">
  <div class="w3-bottom" style="width: calc(100% - 150px);">
    <div class="w3-bar w3-dark-gray flex-box">
      <footer-button id="btnRegister" text="Register"></footer-button>
      <footer-button id="btnNew" text="New"></footer-button>
      <footer-button id="btnCopy" text="Copy"></footer-button>
      <footer-button id="btnDelete" text="Delete"></footer-button>
      <footer-button id="btnSortUp" text="Up"></footer-button>
      <footer-button id="btnSortDown" text="Down"></footer-button>
    </div>
  </div>
</div>

<script>
  var vm_bottom = new Vue({
    el: '#vue-bottom',
    data : { }
  });
</script>
