
<style>
html {
  width : 100%;
  height : 100%;
}

body {
  width : 100%;
  height : 100%;
}

#innerContent {
  width : -webkit-calc(100% - 118px);
  height : -webkit-calc(100% - 60px);
}

#pageContent {
  width : 100%;
  height : 100%;
}

iframe {
  width : 100%;
  height : 100%;
  border : solid 1px;
  margin-left : -16px;
  margin-top : -10px;
  margin-right : -16px
}

#vue-main {
  width : 100%;
  height : 100%;
}
</style>

<div id="vue-main" class="vue-component" >
  <iframe id="editor" src="/view/whiteboard/editor?whiteboard_cd=<%= @whiteboard_cd %>"></iframe>
</div>

<script type="text/javascript" src="/js/whiteboard.js"></script>


