
<span class="icon icon-spinner9" id="btnRefresh" style="cursor: pointer"></span>
<span class="icon icon-calendar" id="btnScaleDay" style="cursor: pointer"></span>
<span class="icon icon-clock" id="btnScaleHour" style="cursor: pointer"></span>
<input type="checkbox" style="width:12px;height:12px" id="cbHideClosed" v-model="hideClosed">
<label for="cbHideClosed" style="font-size:0.5em; vertical-align:middle;">{{ (hideClosed)? "HIDE CLOSED" : "SHOW CLOSED" }}</label>
<input type="checkbox" style="width:12px;height:12px" id="cbFixedHeight" v-model="fixedHeight">
<label for="cbFixedHeight" style="font-size:0.5em; vertical-align:middle;">{{ (fixedHeight)? "FIXED HEIGHT" : "AUTO HEIGHT" }}</label>
