
<div style="height:40px"></div>
<div class="w3-bottom" style="width: calc(100% - 150px);">
  <div class="w3-bar w3-dark-gray flex-box">
    <div id="btnRegister" class="w3-button">Register</div>
    <div id="btnNew" class="w3-button">New</div>
    <div id="btnCopy"  class="w3-button">Copy</div>
    <div id="btnDelete" class="w3-button">Delete</div>
  </div>
</div>

