<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<div id="vue-main" class="vue-component">
  <div class="easyui-panel" style="width:100%;padding:5px;margin-bottom:5px;">
    <form>
      <p>Please sign in</p>
      <div class="field_container" style="width: 800px">
        <field-header>User</field-header>
        <field-value style="width:100%">
          <input v-model="user" type="text" name="user" style="width:200px">
        </field-value>
      </div>
      <div class="field_container" style="width: 800px">
        <field-header>Password</field-header>
        <field-value style="width:100%">
          <input v-model="password" type="password" name="password" style="width:200px">
        </field-value>
      </div>
      <input type="submit" formaction="/signin" formmethod="post" value="Sign in"/>
    </form>
  </div>
</div>

<script type="text/javascript" src="/js/ex_datetimebox.js"></script>
<script type="text/javascript" src="/js/core_util.js"></script>
<script type="text/javascript" src="/js/constants.js"></script>

<script>
  var vue = new Vue({
    el: '#vue-main',
    data: {
      // fixedHeight : true,
      // scrollOnClick : true
      user : ""
      ,password : ""
    },
    // watch: {
    //   //hideClosed: 'loadByChecked',
    //   // fixedHeight: 'loadByChangeHeight',
    //   row : 'setWhiteboardBtn',
    // },
    methods: {
      signin : function() {
        console.log("ok");
      }
    },
    // computed: {
    //   hasTaskCd: function() {
    //     var taskCd = this.row.task_cd;
    //     if((taskCd == null) || (taskCd === undefined) || (taskCd === "")) {
    //       return false;
    //     } else {
    //       return true;
    //     }
    //   }
    // },
    // updated: function () {
    //   autosize.update($("textarea"))
    //   $("#progress").slider("setValue", Math.round(vue.row.progress * 100.0));
    //   $("#dpStart").datetimebox("setValue", vue.row.start_date);
    //   $("#dpEnd").datetimebox("setValue",  vue.row.end_date);
    // }
  });
</script>

