
<div style="display:flex;flex-flow: column nowrap;">
  <div class="field_container">
    <div class="field_header">User CD</div>
    <div class="field_value">
      <input v-model="dispUserCd" type="text" style="width:80px" readonly>
    </div>
  </div>

  <div class="field_container" style="width: 1000px">
    <div class="field_header">Name</div>
  </div>

  <div class="field_container" style="width:100%;">
    <div class="field_value" style="width:100%;">
      <input v-model="row.name" type="text" style="width:100%">
    </div>
  </div>
</div>
