
/* CSS for workplan */

.weekend{ background: #888888!important; color:white !important;}
.gantt_add {display:none;}
.gantt_grid_head_cell.gantt_grid_head_add.gantt_last_cell {
  display:none;
}
.gantt_tree_icon.gantt_folder_open {
  background-image:url("/img/stack.png")
}
.gantt_tree_icon.gantt_folder_closed {
  background-image:url("/img/stack.png")
}
.gantt_tree_icon.gantt_file {
  background-image:url("/img/task.png")
}
.gantt_marker .gantt_marker_content {
  font-size : x-small;
  line-height : 5px;
}
.gantt_marker {
  background-color : rgba(255, 0, 0, 0.2)
}
.task_actual{
  background:#ffc0cb;
  border-color:#db7093;
}
.task_actual .gantt_task_progress{
  background:#f08080;
}
.task_project{
  background:#d4dfff;
  border-color:#647bbc;
}
.task_project .gantt_task_progress{
  background:#91a4d9;
}

.slider-rulelabel > span {
  font-size: 0.5em;
}

.slider-inner > span {
  font-size: 0.5em;
}

.slider-handle {
  background-size: 14px 14px;
  margin-left: -7px;;
  margin-top: -7px;;
}

.gantt_tooltip {
 z-index : 0;
}

/*
th {
 width : 20px;
}
*/

td,th {
  border : solid 1px;
}

.slider {
  padding-left: 5px;
}

.whiteboard_button {
  cursor: pointer;
  font-size:16px;
}

